# package directories
node_modules
jspm_packages
cdk.out

# Serverless directories
.serverless

env.sh
solita-env.sh
*.iml

.idea

.build

coverage

out

yarn-error.log

dist

# Project configurations that include secrets
scripts/setup-secrets.sh
src/ossi-bot-config.ts